{include file="public/header"}
<body>

<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>修改密码<small></small></h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal" onsubmit="return checkpassword()">
                            <div class="form-group">
						        <label class="col-sm-3 control-label">名称:</label>
						        <div class="col-sm-9">
						            <input type="text" name="user_name" readonly value="{$data.user_name}" class="form-control" > <span class="help-block m-b-none"></span>

						        </div>
						    </div>
						    <div class="form-group">
						        <label class="col-sm-3 control-label">原密码:</label>
						        <div class="col-sm-9">
						            <input type="text" required="true" class="form-control" name="pwd1" placeholder="请输入原密码"> <span class="help-block m-b-none"></span>
						        </div>
						    </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">新密码:</label>
                                <div class="col-sm-9">
                                    <input type="text" required="true" id="pwd2" class="form-control" name="pwd2" placeholder="请输入新密码"> <span class="help-block m-b-none"></span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">确认密码:</label>
                                <div class="col-sm-9">
                                    <input type="text" required="true" id="pwd3" class="form-control" name="pwd3" placeholder="请输入确认密码"> <span class="help-block m-b-none"></span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <button class="btn btn-primary" type="submit">保存</button>
                                     <!-- <button class="btn btn-white" onclick="javascript:history.go(-1)">取消</button> -->

                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{include file="public/footer"} 
<script>
    function checkpassword() {
        var pwd2 = $('#pwd2').val();
        var pwd3 = $('#pwd3').val();
        if(pwd2 == pwd3 && pwd2!= ''){
            return true;
        }else{
            swal("两次输入的密码不一致", "请重新输入", "error");
            return false;
        }
    }
    
</script>
