{{template "/admin/public/header.html"}}
<div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>编辑管理员<small></small></h5>
                    </div>
                    <div class="ibox-content">
                        <form method="post" class="form-horizontal">
                            <div class="form-group">
						        <label class="col-sm-3 control-label">用户名:</label>
						        <div class="col-sm-9">
                                	<input type="hidden" name="id" value="{{.data.Id}}">
						            <input type="text" name="user_name" readonly class="form-control" value="{{.data.User_name}}"> <span class="help-block m-b-none"></span>

						        </div>
						    </div>
						    <div class="form-group">
						        <label class="col-sm-3 control-label">密码：</label>
						        <div class="col-sm-9">
						            <input type="password" class="form-control" name="password" value=""> <span class="help-block m-b-none"></span>
						        </div>
						    </div>

                            <div class="form-group">
                                <label class="col-sm-3 control-label">角色:</label>
                                <div class="col-sm-9">
                                    <select  class="form-control" name="role_id">
											<option value="">请选择角色</option>
                                        	{{range .Role}}
                                        	    {{if  eq .Id $.data.Role_id.Id}}
                                                    <option value="{{.Id}}" selected>{{.Title}}</option>
                                                        {{else}}
                                                    <option value="{{.Id}}">{{.Title}}-{{.Id}}</option>
                                                        {{end}}
                                        		{{/*<option <?php if($data['role_id'] == $vo['id']){echo 'selected';}?> value="{$vo.id}">{$vo.title}</option>*/}}
											{{end}}
                                    </select>

                                </div>
                            </div>
						    <div class="form-group">
						        <label class="col-sm-3 control-label">公司名称:</label>
						        <div class="col-sm-9">
						            <input type="text" name="company" class="form-control" value="{{.data.Company}}"> <span class="help-block m-b-none"></span>

						        </div>
						    </div>
						    <div class="form-group">
						        <label class="col-sm-3 control-label">姓名:</label>
						        <div class="col-sm-9">
						            <input type="text" name="name" class="form-control" value="{{.data.Name}}"> <span class="help-block m-b-none"></span>

						        </div>
						    </div>
						   	<div class="form-group">
						        <label class="col-sm-3 control-label">邮箱:</label>
						        <div class="col-sm-9">
						            <input type="email" name="email" class="form-control" value="{{.data.Email}}"> <span class="help-block m-b-none"></span>

						        </div>
						    </div>
						    <div class="form-group">
						        <label class="col-sm-3 control-label">联系电话:</label>
						        <div class="col-sm-9">
						            <input type="text" name="phone" class="form-control"  value="{{.data.Phone}}"> <span class="help-block m-b-none"></span>
						        </div>
						    </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <div class="col-sm-4 col-sm-offset-4">
                                    <button class="btn btn-primary" type="submit">保存内容</button>
                                    <div class="btn btn-white" onclick="javascript:history.go(-1)">取消</div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>