{{template "admin/public/header.html"}}
<style type="text/css">
    .cursor{
        cursor: pointer;

    }
    .cursor :hover{
         text-decoration: underline;
    }
</style>
<body class="gray-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
   
        <!-- Panel Other -->
        <div class="ibox float-e-margins">
           
            <div class="ibox-content">
                <div class="row row-lg">
                   
                    <div class="col-sm-12">
                        <!-- Example Pagination -->
                        <div class="example-wrap">
                            <h4 class="example-title">
								<div id="toolbar">
							        <a href="{{urlfor "MenuController.Add"}}"><button  class="btn btn-success">
							           添加菜单
							        </button></a>
							    </div>
                            </h4>
                            <div class="example">
                                <div class="fixed-table-toolbar">
                                    <div class="bars pull-left">
                                        <div class="btn-group hidden-xs" id="exampleToolbar" role="group">
                                            <button type="button" class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-edit" aria-hidden="true"></i>
                                            </button>
                                            <button type="button" class="btn btn-outline btn-default">
                                                <i class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                         
                                <table id="table" data-toggle="table"  data-search="true" data-row-style="rowStyle" data-cell-style="cellStyle" data-show-export="true"  data-show-pagination-switch="false" data-pagination="true"  data-page-list="[20, 25, 50, 100, ALL]" data-show-footer="false" data-page-size="20" data-side-pagination="server" data-url="{{urlfor "MenuController.Ajax"}}">
                                    <thead>
                                        <tr>
                                            <th data-field="state" data-checkbox="true"></th>
                                            <th data-halign="center"data-field="Title">名称</th>
                                            <th data-halign="center" data-field="Up_title">上级菜单</th>
                                            <th data-halign="center"  data-field="Group">分组</th>
                                            <th data-halign="center" data-field="Url">URL</th>
                                            <th data-halign="center" data-field="Sort">排序</th>
                                            <th data-halign="center" data-field="Is_dev" data-formatter="dev_status" >仅开发者模式显示</th>
                                            <th data-halign="center" data-field="Hide" data-formatter="hide_status">隐藏</th>
                                            <th data-halign="center" data-field="operate">操作</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                        <!-- End Example Pagination -->
                    </div>

                   
                </div>
            </div>
        </div>
        <!-- End Panel Other -->
    </div>
    <div style="position: absolute;top:100px;left: 200px;background: #000;z-index: 1000">
        
    </div>

{{template "admin/public/footer.html"}}
<script>
    var $table = $('#table'),
        $remove = $('#remove'),
        selections = [];
    // $table.on('click-row.bs.table', function (e, row) {
    //     alert(1);
    //     console.log(row);
    // });

    $table.on('click-cell.bs.table', function (e, row,field, value ) {
        var pid = value.Id;
        $('#toolbar a').attr('href',"/admin/menu/add/"  + pid);
        if(row == 'Title'){
       	    $table.bootstrapTable('refresh',{query: {pid: pid,offset:0}});
        }
    });

    // $table.on('dbl-click-row.bs.table', function (e, row) {
    //    swal({
    //             title: "您确定要删除这条信息吗",
    //             text: "删除后将无法恢复，请谨慎操作！",
    //             type: "warning",
    //             showCancelButton: true,
    //             confirmButtonColor: "#DD6B55",
    //             confirmButtonText: "删除",
    //             closeOnConfirm: false
    //         }, function () {
    //             swal("删除成功！", "您已经永久删除了这条信息。", "success");
    //         });
    // });

   
    window.operateEvents = {
        'click .like': function (e, value, row, index) {
           // alert('You click like action, row: ' + JSON.stringify(row));
            var url = "/admin/menu/edit/";
            var id = row.Id;
            window.location.href= url  + id;
        },
        'click .remove': function (e, value, row, index) {
              swal({
                title: "您确定要删除这条信息吗",
                text: "删除后将无法恢复，请谨慎操作！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                closeOnConfirm: false
            }, function () {
                $.post("/admin/menu/del", {"id":row.Id},function(data) {
                    if(data.status){
                        swal("删除成功！", "您已经永久删除了这条信息。", "success");
                        $table.bootstrapTable('remove', {
                            field: 'id',
                            values: [row.id]
                        });
                    }
                });
            });
        }
    };

    $table.bootstrapTable({
            height: getHeight(),
            columns: [
                [
                    
                    {
                        field: 'state',
                        checkbox: true,
                        rowspan: 1,
                        width:50,
                        align: 'center',
                        valign: 'middle'
                    },
                    {
                        field:'Title',
                        title:'名称',
                        class:'cursor',
                        align: 'center'
                    },
                    {
                        field: 'Up_title',
                        title: '上级菜单',
                        sortable: true,
                        editable: true,
                        align: 'center'
                    }, {
                        field: 'Group',
                        title: '分组',
                        sortable: true,
                        align: 'center',
                        
                    }, 
                    
                    {
                        field:'Url',
                        title:'URL',
                        align: 'center'
                    },

                    {
                        field:'Sort',
                        title:'排序',
                        align: 'center'
                    },
                    {
                        field:'Is_dev',//对方data-formatter value 字段
                        title:'开发者',
                        align: 'center'
                    },{
                        field:'Hide',
                        title:'隐藏',
                        align: 'center'
                    },
                    
                    {
                        field: 'operate',
                        title: '操作',
                        align: 'center',
                        events: operateEvents,
                        formatter: operateFormatter
                    }
                ]
            ]
        });
  
    function getIdSelections() {
        return $.map($table.bootstrapTable('getSelections'), function (row) {
            return row.id
        });
    }

    function responseHandler(res) {
        $.each(res.rows, function (i, row) {
            row.state = $.inArray(row.id, selections) !== -1;
        });
        return res;
    }

    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function (key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    function operateFormatter(value, row, index) {
        return [
            '<a class="like" href="javascript:void(0)" title="Like">',
            '<i class="glyphicon glyphicon-edit"></i>',
            '</a>  ',
            '<a class="remove" href="javascript:void(0)" title="Remove">',
            '<i class="glyphicon glyphicon-remove"></i>',
            '</a>'
        ].join('');
    }

    window.operateEvents = {
        'click .like': function (e, value, row, index) {
            alert('You click like action, row1: ' + JSON.stringify(row));
              
        },
        'click .remove': function (e, value, row, index) {
             swal({
                title: "您确定要删除这条信息吗",
                text: "删除后将无法恢复，请谨慎操作！",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#DD6B55",
                confirmButtonText: "删除",
                closeOnConfirm: false
            }, function () {
                swal("删除成功！", "您已经永久删除了这条信息。", "success");
            });
            // $table.bootstrapTable('remove', {
            //     field: 'id',
            //     values: [row.id]
            // });
        }
    };

    function totalTextFormatter(data) {
        return 'Total';
    }

    function totalNameFormatter(data) {
        return data.length;
    }

    function totalPriceFormatter(data) {
        var total = 0;
        $.each(data, function (i, row) {
            total += +(row.price.substring(1));
        });
        return '$' + total;
    }

    function getHeight() {
        return $(window).height() - $('h1').outerHeight(true);
    }



    function getScript(url, callback) {
        var head = document.getElementsByTagName('head')[0];
        var script = document.createElement('script');
        script.src = url;

        var done = false;
        // Attach handlers for all browsers
        script.onload = script.onreadystatechange = function() {
            if (!done && (!this.readyState ||
                    this.readyState == 'loaded' || this.readyState == 'complete')) {
                done = true;
                if (callback)
                    callback();

                // Handle memory leak in IE
                script.onload = script.onreadystatechange = null;
            }
        };

        head.appendChild(script);

        // We handle everything using the script element injection
        return undefined;
    }

    function dev_status(value, row, index, field) {
        if (value === '1') {
            return "是";
        }else{
            return "否"
        }
        return value
    }
    function hide_status(value, row, index, field) {
        if (value === '1') {
            return "是";
        }else{
            return "否"
        }
        return value
    }
function ajaxRequest(params) {
        // data you need
        console.log(params.data);
        // just use setTimeout
        $.post(posturl, {params}, function(data) {
        	 params.success(data);
        });
         
    }
</script>
