{{template "admin/public/header.html"}}
<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight">
        <div class="row">
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content" style="display:none">
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content" style="display:none">

                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="ibox">
                    <div class="ibox-content" style="display:none">

                    </div>
                </div>
            </div>

        </div>

        <h1>GoAdmin后台管理系统</h1>
    </div>
</body>
{{template "admin/public/footer.html"}}
    <script>
        $(document).ready(function(){$(".sortable-list").sortable({connectWith:".connectList"}).disableSelection()});
    </script>