<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <title>云到家</title>

    <meta name="keywords" content="后台管理">
    <meta name="description" content="后台管理">
    <link rel="shortcut icon" href="favicon.ico">
    <link href="/__CSS__/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/__CSS__/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="/__CSS__/plugins/sweetalert/sweetalert.css" rel="stylesheet">
    <link href="/__CSS__/animate.min.css" rel="stylesheet">
    <link href="/__CSS__/style.min.css?v=4.1.0" rel="stylesheet">
    <link href="/__CSS__/plugins/bootstrap-table/bootstrap-table.min.css" rel="stylesheet">
    <link href="/__CSS__/plugins/datapicker/datepicker3.css" rel="stylesheet">
    <link href="/__CSS__/plugins/blueimp/css/blueimp-gallery.min.css" rel="stylesheet">

      <link rel="stylesheet" type="text/css" href="/__CSS__/plugins/simditor/simditor.css" />
       <script type="text/javascript">
    // (function(){
    //     var ThinkPHP = window.Think = {
    //         "ROOT"   : "__ROOT__", //当前网站地址
    //         "APP"    : "__APP__", //当前项目地址
    //         "PUBLIC" : "__PUBLIC__", //项目公共目录地址
    //         "DEEP"   : "/", //PATHINFO分割符
    //     }
    // })();
    // console.log(window.Think);
    </script>
    {{/*<script src="/__JS__/think.js"></script>*/}}
    <script src="http://cdn.bootcss.com/moment.js/2.11.1/moment.js"></script>


    <script src="/__JS__/jquery.min.js?v=2.1.4"></script>
    <script src="/__JS__/content.min.js?v=1.0.0"></script>
    <script type="text/javascript" src="/__JS__/plugins/simditor/module.js"></script>
    <script type="text/javascript" src="/__JS__/plugins/simditor/uploader.js"></script>
    <script type="text/javascript" src="/__JS__/plugins/simditor/hotkeys.js"></script>
    <script type="text/javascript" src="/__JS__/plugins/simditor/simditor.js"></script>
</head>